{% extends 'base.html' %}

{% block content %}



<h1>Posts</h1>
<ul>
  {% for post in object_list %}
  <!-- object_list is the query set, all the blog  posts -->
  <li> <a href="{% url 'post-detail' post.pk %}"> {{ post.title }} </a> • by {{ post.author }} • {{ post.post_date }}

    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    •
    <a href="{% url 'update_post' post.pk %}">(edit)</a>
    <a href="{% url 'delete_post' post.pk %}">(delete)</a>


    {% endif %}

    {% endif %}
    <br>
    {{ post.body|slice:"0:100" }}...<br /><br>
    {{ body }}
    <hr>
  </li>



  {% endfor %}

  {% endblock %}