{% extends 'base.html' %}

{% block content %}


<p>{{ post.title }} </p>
{{ post.author }} •
{{ post.post_date }}
{% if user.is_authenticated %} 
{% if user.id == post.author.id %}
<a href="{% url 'update_post' post.pk %}">(edit)</a>
<a href="{% url 'delete_post' post.pk %}">(delete)</a> <br>
{% endif %}
{% endif %}
<hr>
{{ post.body }} <br> <br> <br> 
{% if post.post_image %}
<img style="height:500px; widows: 500px; " src="{{ post.post_image.url }}" alt=""> 
{% else %}
<p></p>
{% endif %}

  <br> <br> <br>
 
------------------------------------------------------------------------------------------------

<h4>Comments </h4>
{% for comment in post.comments.all %}
        <hr><br>{{ comment.name }} •
            {{ comment.date_added }} 
            <br>
            {{ comment.body }}
        {% endfor %}

{% if user.is_authenticated %} 
 

    {% if not post.comments.all %}
        0 comments. •  <a href="{% url 'add_comment' post.pk %}">Add comment</a><br> <hr>
    {% else %}
        <a href="{% url 'add_comment' post.pk %}">Add comment</a><br> 
       
    {% endif %}

{% else %}
<br/>
<br/>
<br/>

<small> You must be logged in to add a cooment! </small> 
<br/>
    <a aria-current="page" href="{% url 'login' %}">Log In</a>  • 
    <a aria-current="page" href="{% url 'register' %}">Sign up</a>
<br/>
{% endif %}





<br><br>

<a href="{% url 'home' %}">Back</a>
<br/> <br/> <br/>
 <hr/>
 <form action="{% url 'like_post' post.pk %}" method="POST">
    {% if user.is_authenticated %} 
        {% csrf_token %}
        
        {% if liked %}
            <button type="submit", name='post_id', value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike </button> 
        {% else %}    
            <button type="submit", name='post_id', value="{{ post.id }}", class="btn btn-primary btn-sm">like </button>     
        {% endif %}
    {% else %}
    <small> You must be logged in to like a post! </small> 
    <br/>
    <a aria-current="page" href="{% url 'login' %}">Log In</a>  • 
    <a aria-current="page" href="{% url 'register' %}">Sign up</a>
    {% endif %} 
    <br/>
    <br/>
    
    • {{ total_likes }} likes
    
 </form>

<br/>
<br/>
<br/>




{% endblock %}